<%- include("header")-%>
    <h1>This is about page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid veritatis maiores nihil error quasi suscipit debitis dolores sed ab. Iure ratione optio, nostrum, odio dolor a dignissimos eum debitis mollitia possimus in ullam? Qui totam provident
        voluptatum a illo explicabo quod, quisquam ad incidunt numquam. Possimus magnam temporibus architecto error, mollitia deleniti. Consequatur, corrupti.</p>

    <%- include("footer")-%>