html {
    background-image: url("../pencil.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: 'helvetica neue';
}

h1 {
    padding: 10px;
}

.box1 {
    max-width: 400px;
    margin: 10px auto;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.box2 {
    max-width: 400px;
    margin: 10px auto;
    background-color: #b4b4b4;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
    background-color: #53532b;
    text-align: center;
}

.item {
    min-height: 70px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
    border-bottom: 0;
}

input:checked+p {
    text-decoration-color: #DDE6ED;
}

input[type="checkbox"] {
    margin: 20px;
}

p {
    margin: 0;
    padding: 20px;
    font-size: 20px;
    font-weight: 200;
    color: #00204a;
    font-family: 'Times New Roman', Times, serif;
}

form.item {
    text-align: center;
    margin-left: 20px;
}

button {
    min-height: 50px;
    width: 50px;
    border-radius: 50%;
    border-color: transparent;
    background-color: #53532b;
    color: #fff;
    font-size: 30px;
    padding-bottom: 6px;
    border-width: 0;
}

input[type="text"] {
    text-align: center;
    height: 60px;
    top: 10px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 200;
    width: 313px;
}

input[type="text"]:focus {
    outline: none;
    box-shadow: inset 0 -3px 0 0 #DDE6ED;
}

::placeholder {
    color: #888880;
    opacity: 1;
}

.footer {
    position: sticky;
    bottom: 0px;
    text-align: center;
}